#DataTypes


1.   int  -- 3,4,6,99,65,104
2.   float -- 3.0, 4.2, 6.45, 99.9
3.   str  -- "Ram", "Jat Singh"
4.   bool  -- True, False

# to check the datatype

## we will use type() function

In [140]:
type(11)

int

Create variable that will store your 12th Percentage

In [141]:
percent = 86.5

In [142]:
print(percent)

86.5

In [143]:
percent

86.5

In [144]:
print("My 12th Percentage are: ", percent)

My 12th Percentage are:  86.5

Find the datatype of the following:



1.   2
2.   1.1
3.   True
4.   "True"
5.   "Adani Corporation"
6.   56.4

# TypeCasting
## converting the datatype of one variable into another

In [145]:
# convert 123 an integer to string
str(123)

'123'

In [146]:
# convert 1.123 into string and store it in variable x
x = str(1.123)

In [147]:
x

'1.123'

In [148]:
type(x)

str

In [149]:
# Suppose you have 3 apples create a variable my_apples
# then check its datatype
# then convert it into float and store it in my_apples_float
# and check its datatype

In [150]:
my_apples = 3
type(my_apples)

int

In [151]:
my_apples_float = float(my_apples)
type(my_apples_float)

float

#convert the following
#####1. 1 to boolean
#####2. 2 to boolean
#####3. 0 to boolean
#####4. -1 to boolean
#####5. 6 to string
#####6. 6 to boolean
#####7. 6 to float
#####8. 4.2 to string
#####9. 4.2 to int
#####10. 4.2 to boolean
#####11. "Rahul" to int
#####12. "Rahul" to float
#####13. "Rahul" to boolean
#####14. True to int
#####15. True to float
#####16. True to string
#####17. "" to boolean

In [152]:
bool("")

False

In [153]:
bool(" ")

True

In [154]:
len("")

0

In [155]:
len(" ")

1

In [156]:
#Add 574 to 18976
574 + 18976

19550

In [157]:
# subtract your day of birth from year of birth
#  06-Sep-2023

2023-6

2017

In [158]:
# multiply your day of birth from year of birth
#  06-Sep-2023

2023*6

12138

In [159]:
# divide your day of birth from year of birth
#  06-Sep-2023

2023/6

337.1666666666667

In [160]:
# find square of 45
45**2

2025

In [161]:
3**2

9

In [162]:
# Find remainder your day of birth from year of birth
#  06-Sep-2023

2023%6

1

In [163]:
# integer divide
2023//6

337

In [164]:
Name = "Michael Jackson"

In [165]:
Name

'Michael Jackson'

In [166]:
# find first character of string name
Name[0]

'M'

In [167]:
# fifth character
Name[4]

'a'

In [168]:
# last charcter
Name[-1]

'n'

In [169]:
Name[14]

'n'

In [170]:
Name[len(Name)-1]

'n'

In [171]:
# Find first four letter of name
Name[0:4]

'Mich'

In [172]:
Name[0:len(Name)]

'Michael Jackson'

In [173]:
Name[8:12]

'Jack'

In [174]:
Name[::2]

'McalJcsn'

In [175]:
Name[::-1]

'noskcaJ leahciM'

In [176]:
Name

'Michael Jackson'

In [177]:
Name[0:7:2]

'Mcal'

In [178]:
"My favourite rockstar is: "+Name

'My favourite rockstar is: Michael Jackson'

In [179]:
Name * 3

'Michael JacksonMichael JacksonMichael Jackson'

In [180]:
Name + " " *3

'Michael Jackson   '

In [181]:
(Name + " ")*3

'Michael Jackson Michael Jackson Michael Jackson '

In [182]:
print((Name + "\n")*3)

Michael Jackson
Michael Jackson
Michael Jackson

In [183]:
print((Name + "\t")*3)

Michael Jackson	Michael Jackson	Michael Jackson

In [184]:
str = r"Do you have coffee\tea?"

In [185]:
print(str)

Do you have coffee\tea?

In [186]:
str = "Do you have coffee\\tea?"
print(str)

Do you have coffee\tea?

In [187]:
news = "G20 Summit 2023: Traffic restrictions imposed in Delhi from September 7-10. Check full list of restricted September areas here"

In [188]:
print(news)

G20 Summit 2023: Traffic restrictions imposed in Delhi from September 7-10. Check full list of restricted September areas here

In [189]:
# find 34th charcter in news
news[34]

'o'

In [190]:
# Extract the string from news that starts with "S" and ends on "r"

#Regular Expression

In [191]:
import re
pattern = r"S\w*r"
print(re.search(pattern, news))

<re.Match object; span=(60, 69), match='September'>

In [192]:
news[60:69]

'September'

In [193]:
news.upper()

'G20 SUMMIT 2023: TRAFFIC RESTRICTIONS IMPOSED IN DELHI FROM SEPTEMBER 7-10. CHECK FULL LIST OF RESTRICTED SEPTEMBER AREAS HERE'

In [194]:
news.lower()

'g20 summit 2023: traffic restrictions imposed in delhi from september 7-10. check full list of restricted september areas here'

In [195]:
news.replace("Delhi", "Mumbai")
#  replace delhi to mumbai

'G20 Summit 2023: Traffic restrictions imposed in Mumbai from September 7-10. Check full list of restricted September areas here'

In [196]:
news.replace("a","@")

'G20 Summit 2023: Tr@ffic restrictions imposed in Delhi from September 7-10. Check full list of restricted September @re@s here'

In [197]:
news.find("Sep")

60

In [198]:
tt = "A Peter Piper picked a peck of pickled peppers.A peck of pickled peppers Peter Piper picked. If Peter Piper picked a peck of pickled peppers, Where’s the peck of pickled peppers Peter Piper picked?"

In [199]:
tt.find("Peter")

2

In [200]:
tt.find("Peter", 2,7)

2

#Regular Expressions

In [201]:
import re

In [223]:
movie = "fox and kelley soon become bitter rivals because the new fox books \
store is opening up right across the block from the small business ."

Find number of characters in `movie` variable and store in variable `movie_length`

In [242]:
movie_lenth=len(movie)
type(movie_lenth)

int

Convert to number of characters in `movie_length` to string (typecasting)
<br> and store it in variable `to_string`

In [246]:
to_string=str(movie_lenth)
to_string

TypeError: 'str' object is not callable

Create variable `statement` with string `"Number of characters in this review:"`

In [220]:
statement="Number of characters in this review:"

Concatenate strings `statement` and `to_string` and print result

your output should be

`Number of characters in this review: 135`

In [245]:
print(statement,to_string)

Number of characters in this review: 135

String Manipulation

In [ ]:
movie1 = 'the most significant tension of _election_ is the potential relationship between a teacher and his student .'
movie2 = 'the most significant tension of _rushmore_ is the potential relationship between a teacher and his student .'

Select the first 32 characters of movie1
<br> and store it in variable `first_part`

In [ ]:
first_part=movie1[:32]

Select from 43rd character to the end of movie1
<br> and store it in variable `last_part`

In [ ]:
last_part=movie1[42:]

Select from 33rd to the 42nd character of **movie2**
<br> and store it in variable `middle_part`

In [ ]:
middle_part=movie2[32:42]

Print concatenation of `first_part`, `middle_part` and `last_part`
<br>
<br>
Print movie2 variable

In [ ]:
print(first_part,middle_part,last_part)

the most significant tension of  _rushmore_  is the potential relationship between a teacher and his student .

#Pallindromes

In [ ]:
movie = 'oh my God! desserts I stressed was an ugly movie'

Get the word between 12th character and 30th ie. `"desserts I stressed"` and store it in variable `movie_title`

In [ ]:
movie_title=movie[11:30]

Obtain the palindrome by reverse the string extracted above and store it in variable
`palindrome`

In [ ]:
palindrome=movie_title[::-1]

Print the `movie_title` if it's a `palindrome` using `if`

In [ ]:
if movie_title==palindrome:
    print(movie_title,'is a palindrome')
else:
    print(movie_title,'is not a palindrome')

desserts I stressed

#Normalize

In [ ]:
movie = '$I supposed that coming from MTV Films I should expect no less$'

Convert `movie` to lowercase, store it in variable `movie_lower` and print the content of `movie_lower`

In [ ]:
movie_lower=movie.lower()
print(movie_lower)

$i supposed that coming from mtv films i should expect no less$

Remove the `$` that occur at the start and at the end of the string contained in `movie_lower`. store it in variable `movie_no_sign`. Print the results.

In [ ]:
import re
movie_no_sign=re.sub(r'\$','',movie_lower)
print(movie_no_sign)

i supposed that coming from mtv films i should expect no less

Split the string contained in `movie_no_sign` into as many substrings as possible. Store in variable `movie_split`. Print the results.

In [ ]:
movie_split=movie_no_sign.split()
print(movie_split)

['i', 'supposed', 'that', 'coming', 'from', 'mtv', 'films', 'i', 'should', 'expect', 'no', 'less']

To get the root of the second word contained in `movie_split`, select all the characters except the last one. Store it in `word_root` and print the result

In [ ]:
word_root=movie_split[1]
word_root[:len(word_root)-1]

'suppose'

#Time to join!

In [ ]:
movie = 'the film,however,is all good<\i>'

Remove tag `<\i>` from the end of the string. Print the results. Store result in variable `movie_tag`

In [ ]:
movie_tag=re.sub(r'<\\i>','',movie)
movie_tag

'the film,however,is all good'

Split the string contained in `movie_tag` using the commas as a separating element. Store the result in `movie_no_comma` Print the results.

In [ ]:
movie_no_comma=movie_tag.split(',')
print(movie_no_comma)

['the film', 'however', 'is all good']

Join back together the list of substring contained in `movie_no_comma` using a space as a join element. Store result in `movie_join` Print the results.

In [ ]:
movie_join=' '.join(movie_no_comma)
print(movie_join)

the film however is all good

#Split lines or the line?

In [ ]:
file = 'mtv films election, a high school comedy, is a current example \n\
from there, director steven spielberg wastes no time, \
taking us into the water on a midnight swim'

*   Split the string file into many substrings at line boundaries.
*   Print out the resulting variable file_split.
*   Use the for-loop to split the strings into many substrings using commas as a separator element.

In [ ]:
# Split string at line boundaries
file_split=file.split('\n')

In [ ]:
# Print file_split
for line in file_split:
    print(line)

mtv films election, a high school comedy, is a current example
from there, director steven spielberg wastes no time, taking us into the water on a midnight swim

In [ ]:
# Complete for-loop to split by commas
for line in file_split:
    split_line=line.split(',')
    print(split_line)

['mtv films election', ' a high school comedy', ' is a current example ']
['from there', ' director steven spielberg wastes no time', ' taking us into the water on a midnight swim']