In [14]:
import pandas as pd

In [15]:
d=pd.DataFrame(columns=['Name', 'Roll', 'Department', 'College Name'])
d

Empty DataFrame
Columns: [Name, Roll, Department, College Name]
Index: []

In [16]:
data = [
    {'Name': 'Alice', 'Roll': '001', 'Department': 'Computer Science', 'College Name': 'Stanford'},
    {'Name': 'Bob', 'Roll': '002', 'Department': 'Mechanical Engineering', 'College Name': 'MIT'},
    {'Name': 'Charlie', 'Roll': '003', 'Department': 'Electrical Engineering', 'College Name': 'Harvard'},
    {'Name': 'Diana', 'Roll': '004', 'Department': 'Civil Engineering', 'College Name': 'Cornell'},
    {'Name': 'Edward', 'Roll': '005', 'Department': 'Biotechnology', 'College Name': 'Berkeley'},
    {'Name': 'Fay', 'Roll': '006', 'Department': 'Physics', 'College Name': 'Stanford'},
    {'Name': 'Grace', 'Roll': '007', 'Department': 'Mathematics', 'College Name': 'MIT'},
    {'Name': 'Henry', 'Roll': '008', 'Department': 'Chemistry', 'College Name': 'Harvard'},
    {'Name': 'Irene', 'Roll': '009', 'Department': 'Astronomy', 'College Name': 'Cornell'},
    {'Name': 'Jack', 'Roll': '010', 'Department': 'Philosophy', 'College Name': 'Berkeley'}
]

In [17]:
for i in range(len(data)):
    d.loc[i]=list(data[i].values())

In [18]:
d.head(),d.tail()

(      Name Roll              Department College Name
 0    Alice  001        Computer Science     Stanford
 1      Bob  002  Mechanical Engineering          MIT
 2  Charlie  003  Electrical Engineering      Harvard
 3    Diana  004       Civil Engineering      Cornell
 4   Edward  005           Biotechnology     Berkeley,
 '',
     Name Roll   Department College Name
 5    Fay  006      Physics     Stanford
 6  Grace  007  Mathematics          MIT
 7  Henry  008    Chemistry      Harvard
 8  Irene  009    Astronomy      Cornell
 9   Jack  010   Philosophy     Berkeley)

In [21]:
d.info(),d.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          10 non-null     object
 1   Roll          10 non-null     object
 2   Department    10 non-null     object
 3   College Name  10 non-null     object
dtypes: object(4)
memory usage: 400.0+ bytes

(None,
          Name Roll        Department College Name
 count      10   10                10           10
 unique     10   10                10            5
 top     Alice  001  Computer Science     Stanford
 freq        1    1                 1            2)

In [22]:
d.to_csv('students_data.csv', index=False)

d.to_excel('students_data.xlsx', index=False)

ModuleNotFoundError: No module named 'openpyxl'

In [23]:
d.corr()

ValueError: could not convert string to float: 'Alice'